@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.eot") format("eot"),
        url("../fonts/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.eot") format("eot"),
        url("../fonts/Gilroy-Bold.woff") format("woff"),
        url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}
