
@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./swiper-slider.css";
@import "./fonts.css";
@import "./normalize.css";


body.lock {
    overflow: hidden;
}

:root {
    --main-bg-color: #000;
    --main-font-color: #fff;
    --ff: "Gilroy";
    --fw-n: normal;
    --fw-b: bold;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-40: 2.5rem;
}


@import "./burger-nav.css";
@import "./adaptive.css";

.wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
}